name: EduLector Sitemap

on:
  push:
    branches:
      - main

jobs:
  sitemap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://edulector.loooooa.com
